

.App {
  text-align: center;
  background: #ff6e7f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{
  font-family: cursive;
  background:rgba(255,255,255,0.2);
  border-bottom:1px solid white;
  height: 2.5rem;
  display:flex;
  align-items: center;
  padding: 0 12px;
  font-size:1.5rem;
  color: white;
}

.name-picker{
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: flex;
  position: absolute;
  right: 15px;
  align-items: center;
}

.name-picker-box{
  color: white;
  background: black;
  height:0.8rem;
  width:6rem;
  border-radius: 1rem;
  border: 1px solid white;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}

.name-ok-button{
  width:2rem;
  height: 1.5rem;
  text-align: center;
  font-size: 0.6rem;
  color: rgb(35, 14, 129);
  margin-left: 5px;
  border: 1px solid white;
  color: white;
  background-color: transparent;

}

.name-edit-button{
  width:2rem;
  height: 2.2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgb(35, 14, 129);
  margin:0px 0px 0px 5px;
  color: white;
  background-color: transparent;
  border: none;
}

.name-ok-button:hover, .name-edit-button:hover{
  cursor: pointer;
  color:black;
}


.logo{
  height:1.8rem;
  width:1.8rem;
  margin-right:10px;
  background: url(https://www.animatedimages.org/data/media/591/animated-parrot-image-0005.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.text-input{
  background:rgba(255,255,255,0.2);
  border-top:1px solid white;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textbox{
  background: black;
  width: 85%;
  height:60%;
  border-radius: 1rem;
  color: white;
  padding-left: 30px;
  border: 1px solid gray;
}

.send-button{
  width:2rem;
  height: 2rem;
  border-radius: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: rgb(35, 14, 129);
  transform: rotate(-20deg);
  margin-left: 5px;
  cursor: pointer;
}

.send-button[disabled]{
  background:gray;
  cursor: default;
}

.send-button[disabled]:hover{
  background:gray;
  cursor: default;
  color: rgb(35, 14, 129);
}

.send-button:hover{
  background-color: rgb(35, 14, 129);
  color:white;
  cursor: pointer;
}

.textbox:focus, .send-button:focus, .name-edit-button:focus, .name-picker-box:focus, .name-ok-button:focus{
  outline: none;
}

.message{
  color:white;
  width: fit-content;
  margin: 0.9rem 2rem 1rem 2rem;
  border:1px black solid;
  background-color: black;
  padding:0.7rem 0.7rem 0rem 0.7rem;
  border-radius: 1rem;
  font-size: 0.7rem;
  word-wrap: break-word;
}

.message::after {
  background-color: black;
  content: "\00a0";
  display: block;
  height: 0.9rem;
  position: relative;
  top: 0.4rem;
  transform:             rotate( 45deg );
      -moz-transform:    rotate( 45deg );
      -ms-transform:     rotate( 45deg );
      -o-transform:      rotate( 45deg );
      -webkit-transform: rotate( 45deg );
  width:  1rem;
}

.messages{
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow: auto;
}

.message-row{
  width: 100%;
  position: relative;
}

.my-name-header{
  color: rgb(51, 50, 50);
  position: absolute;
  font-size: 0.6rem;
  left: 30px;
}
